<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Medium -->
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Russo+One&display=swap" rel="stylesheet">

    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class='navbar navbar-default techfont custom-navbar'>
      <div class="container">
        <ul class='navbar-nav nav'>
          <li><a href="{% url 'post_list' %}" class='navbar-brand bigbrandn'>My Blog</a> </li>
          <li><a href="https://www.github.com">Github</a> </li>
          <li><a href="hhps://www.linkedin.com">LinkedIn</a> </li>
        </ul>
        <ul class='nav navbar-nav navbar-right'>
          {% if user.is_authenticated %}
            <li>
              <a href="{% url 'post_new' %}">Create Post</a>
            </li>
            <li>
              <a href="{% url 'post_draft_list' %}">Draft list</a>
            </li>
            <li>
              <a href="{% url 'logout' %}">Logout</a>
            </li>
            <li>
              <a>Welcome: {{user.username}}</a>
            </li>
            {% else %}
            <li>
              <a class='nav navbar-right' href="{% url 'login' %}"><span class='glyphicon glyphicon-user'></span> </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <div class="content container">
      <div class="row">
        <div class="col-md-8">
          <div class="blog_posts">
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
